In [1]:
# import modules
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [6]:
# persiapan data frame
n_rows = 20
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)),
                  columns = cols)
df

    usia
0     50
1      8
2      1
3      2
4     21
5     37
6     37
7      8
8     27
9     16
10     8
11    75
12    33
13    97
14    13
15    94
16    59
17    39
18    26
19    42